<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anon's Blog</title>
    <link rel="stylesheet" href="/statics/css/main.css">
    <link rel="stylesheet" href="/statics/css/root/index.css">
    <script src="/statics/js/root/index.js"></script>
    <script src="/statics/js/main.js"></script>
</head>
<body>
<nav class="hidden">
    <div id="listControl" tabindex="0">≡</div>
    <div id="list">
        <div onclick="window.open('/', '_self')">札记</div>
        <div onclick="window.open('/notes', '_self')">碎语</div>
        <div onclick="window.open('/about', '_self')">关于</div>
    </div>
</nav>
<div id="basic">
    <div id="blogs">
        <!--<section><h2><a></a></h2><p></p></section>-->
    </div>
    <footer id="beian">
        <p>鲁ICP备2020050398号</p>
    </footer>
</div>
<script>
    const blogs = document.querySelector("div#blogs")
    window.fetch('ajax/blog/getAll')
        .then(res => res.json())
        .then(res => initBlogCards(res))
    initPanel()
</script>
</body>
</html>