<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notice</title>
    <link rel="stylesheet" href="/statics/css/main.css">
    <link rel="stylesheet" href="/statics/css/root/about.css">
    <script src="/statics/js/main.js"></script>
</head>
<body>
<nav class="hidden">
    <div id="listControl" tabindex="0">≡</div>
    <div id="list">
        <div onclick="window.open('/', '_self')">札记</div>
        <div onclick="window.open('/notes', '_self')">碎语</div>
        <div onclick="window.open('/about', '_self')">关于</div>
    </div>
</nav>
<div id="basic">
<section id="notice">
    <h3>Notice</h3>
    <p>更新计划见于主页的更新日志文章</p>
    <p>本站的favicon.ico是随机的，主要有4个(概率各为25/101)，还有一个概率为1/101的小彩蛋</p>
</section>
<section id="blogroll">
    <h3>Blogroll</h3>
    <div>
        <a href="http://wuhaoda.life/" target="_blank">辇道增七的小站</a>
        <a href="https://github.com/lomirus" target="_blank">Anon's Github</a>
    </div>
</section>
</div>
<script>
    initPanel()
</script>
</body>
</html>