<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anon's Blog</title>
    <link rel="stylesheet" href="/statics/css/main.css">
    <link rel="stylesheet" href="/statics/css/root/index.css">
    <script src="/statics/js/root/index.js"></script>
    <script src="/statics/js/main.js"></script>
</head>
<body>
<header>
    <div id="showSidebar">Sidebar</div>
</header>
<div id="sidebar">
    <nav>
        <a href="/?showSidebar=true">札记</a>
        <a href="/notes?showSidebar=true">只言</a>
        <a href="/about?showSidebar=true">关于</a>
    </nav>
</div>
<div id="mask"></div>
<div id="main">
<div id="blogs">
    <!--<section><h2><a></a></h2><p></p></section>-->
</div>
</div>
<script>
    const blogs = document.querySelector("div#blogs")
    window.fetch('ajax/blog/getAll')
        .then(res => res.json())
        .then(res => {
            initBlogs(res)
            updateLayout()
        })
    initSidebar()
</script>
</body>
</html>