<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="/statics/css/main.css">
    <link rel="stylesheet" href="/statics/css/root/notes.css">
    <script src="/statics/js/root/notes.js"></script>
    <script src="/statics/js/main.js"></script>
</head>
<body>
<header>
    <div id="list">选项</div>
    <nav>
        <div onclick="window.open('/', '_self')">札记</div>
        <div onclick="window.open('/notes', '_self')">碎语</div>
        <div onclick="window.open('/about', '_self')">关于</div>
    </nav>
</header>
<div id="main">
    <!--<article>
        <p></p>
        <footer class="info">
            <p><time></time></p>
            <p></p>
        </footer>
    </article>-->
</div>
<script>
    initNotes()
    document.querySelector('#list').onclick = updateButtons
</script>
</body>
</html>