@font-face {
    font-family: 'Noto Serif';
    src: url('/statics/fonts/NotoSerifSC-Regular.woff2') format('woff2'),
    url('/statics/fonts/NotoSerifSC-Regular.woff') format('woff'),
    url('/statics/fonts/NotoSerifSC-Regular.eot') format('embedded-opentype');
}
:root{
    --button-transform: scale(0) rotate(180deg);
    --button-opacity: 0;
}
::selection{
    color:#fff;
    background-color: #ff4081;
}
body{
    margin:0;
    font-family: 'Noto Serif', serif;
    background-color: #e3e5e7;
}
header{
    top: 30px;
    left: 30px;
    z-index: 2;
    display: flex;
    position: fixed;
    flex-direction: column;
}
header div#list{
    background-color: #1e1e1e;
    color: #fff;
}
header div:not(#list){
    transition: transform ease 500ms, opacity ease 300ms;
    transform: var(--button-transform);
    opacity: var(--button-opacity);
    background-color: #ce9178;
    color: #fff;
}

header div{
    width: 75px;
    height: 75px;
    margin: 15px;
    font-size: 20px;
    user-select: none;
    line-height: 75px;
    text-align: center;
    border-radius: 50%;
    background-color: #f3f5f7;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.2) 0 0 8px;
}
#main{
    position: absolute;
    top: 80px;
    left: 0;
    right:0;
    z-index: 1;
}