@font-face {
    font-family: 'Noto Serif';
    src: url('/statics/fonts/NotoSerifSC-Regular.woff2') format('woff2'),
    url('/statics/fonts/NotoSerifSC-Regular.woff') format('woff'),
    url('/statics/fonts/NotoSerifSC-Regular.eot') format('embedded-opentype');
}
@media (any-hover: hover){
    nav #listControl:hover{
        opacity: 1;
    }
}
::selection{
    color:#fff;
    background-color: #ff4081;
}
body{
    -webkit-tap-highlight-color:transparent;
    margin:0;
    font-family: 'Noto Serif', serif;
    background-color: #e3e5e7;
}
nav{
    top: 45px;
    left: 45px;
    z-index: 2;
    position: fixed;
}
nav>#listControl{
    background-color: #fff;
    font-size: 30px;
    color: #1e1e1e;
    opacity: 0.75;
    outline: none;
    margin: 0;
    transition: all ease 300ms;
}
nav>#listControl:focus{
    opacity: 1;
}
nav>#list>div{
    background-color: #00965e;
    color: #fff;
    margin-top: 15px;
    font-size: 20px;
    transition: transform ease 500ms, opacity ease 300ms;
}
nav.visible>#list>div{
    transform: scale(1) rotate(0deg);
    opacity: 1;
}
nav.hidden{
    height: 75px;
}
nav.hidden>#list{
    pointer-events: none;
}
nav.hidden>#list>div{
    transform: scale(0) rotate(180deg);
    opacity: 0;
}
nav>#list>div, nav>#listControl{
    width: 75px;
    height: 75px;
    user-select: none;
    line-height: 75px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.2) 0 0 8px;
}
#basic{
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    z-index: 1;
}