@media screen and (max-width: calc(720px + 80px)){
    section{
        width: calc((100vw - 80px))
    }
}
@media screen and (min-width: calc(720px + 80px)){
    section{
        width: 720px
    }
}
section{
    margin:80px auto;
    background-color: #f3f5f7;
    padding:10px 30px;
    transition: box-shadow 800ms ease 0s;
}
section:hover{
    box-shadow: 10px 10px 20px #ccc;
}
section>h3{
    color: #444;
    text-align: center;
}
#notice>p{
    color: #444;
}
#blogroll>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto;
}
#blogroll a{
    margin: 20px;
    font-size: 24px;
    text-decoration: none;
    color:black;
    transition: all ease 200ms 0ms;
}
#blogroll a:hover{
    color:white;
    background-color: #233;
}