div#blogs{
    margin:30px auto;
    display:flex;
    flex-direction: column;
}
article{
    background-color: #f3f5f7;
    margin:20px 0;
    display: grid;
    height:180px;
    grid-template-columns: 320px 1fr;
    grid-template-rows: 70px 1fr;
    transition: box-shadow 400ms ease 0s, background-color 400ms ease 0s;
}
article:hover{
    box-shadow: 10px 10px 50px #ddd;
    background-color: #fbfdff;
}
article.pc_atc{
    grid-template-columns: 320px 1fr;
}
article.mobile_atc{
    grid-template-columns: 1fr;
}
article img{
    width:320px;
    height:180px;
    grid-row: 1 / 3;
    object-fit: cover;
    user-select: none;
}
article.mobile_atc img{
    display: none;
}
article p{
    color: #93999f;
    font-size: 14px;
    margin:0 30px 27px 30px;
    line-height: 20px;
    overflow: hidden;
}
h2{
    margin: 20px 25px 0 25px;
    height: 1.5em;
    overflow: hidden;
}
h2 a{
    text-decoration: none;
    transition: color 200ms ease 0s;
    color:rgba(7, 17, 27,0.8);
}
h2 a:hover{
    color:#777;
}
